__pycache__
venv
/ende_ctranslate2/model.bin
/estimators/object_detection
test_answers.txt
/vlbert/model/pretrained_model/bert
/vlbert/model/pretrained_model/resnet101-pt-vgbua-0000.model
/vlbert/model/pretrained_model/vl-bert_base_res101_vqa-best.model
/vlbert/model/pretrained_model/bert-base-uncased/vocab.txt
/vlbert/pretrain
/vlbert/refcoco
/vlbert/vcr
/vlbert/common/lib/roi_pooling/build
/vlbert/common/lib/roi_pooling/__pycache__
/vlbert/common/lib/roi_pooling/C_ROIPooling.cp39-win_amd64.pyd
/vlbert/common/lib/roi_pooling/C_ROIPooling.cp38-win_amd64.pyd
vlbert/model/pretrained_model/bert-base-uncased/pytorch_model.bin


